name: 'Upload Release'

on: [push]

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout
      uses: actions/checkout@v3.3.0
      

      
    - name: GitHub Script
      uses: actions/github-script@v6.4.0
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
            github.rest.repos.createRelease({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  tag_name: "v1.0.0"
                  });
